{% extends 'base.html' %}
{% block head %}
    <!--External js for Load_new_declines-->
    <script type="text/javascript" src="/static/js/how_to_use.js"></script>
    <!--External js for Load_new_declines-->
{% endblock head %}


{% block body %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
    <div class="ui segment raised" style="width: 400px; margin: auto;">
        <h2 style="text-align:center;">How this works.<i class="rocket icon"></i></h2>
        <ol>
            <li>Upload the daily decline list to schedule ExpressTuner runs. Make sure its a properly formatted CSV.</li>
            <br>
            <li>Download accounts scheduled to Run through the ExpressTuner for the day. Review the list, and run them.</li>
            <br>
            <li>Visit upload history to view previous uploads, charge attempts or failed attempts.</li>
        </ol>
	</div>
{% endblock body %}



