{% extends 'base.html' %}
{% block head %}
    <!--External js for Load_new_declines-->
    <script type="text/javascript" src="/static/js/success.js"></script>
    <!--External js for Load_new_declines-->
{% endblock head %}


{% block body %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="ui segment raised" style="width: 400px; margin: auto; text-align:center;">
		<h1>Success!</h1>
		<p>Your file has been processed, for more details about todays work check the <a href="/uploadhistory">upload history.</a></p>
        <a href="/"><button class="ui button positive">Ok</button></a>
	</div>
{% endblock body %}